body{background-color:#2E86C1;}

.navbar{background-color:#1B4F72;
		border-radius: 20px;
		padding: 10px;
		text-align: right;}

.linkler{color: white;
		text-decoration: none;
		padding: 20px;
		font-size: 20px;
		transition-duration: 0.5s;}

#slogan{color: white;
		text-decoration: none;
		float: left;
		margin-left: 20px;
		font-style: italic;
		font-size: 20px;
		transition-duration: 0.5s;}

.resim1{height: 600px;
		width: 1200px;
		margin:auto;
		background-color:#1B4F72;
		color:white;
		font-style:normal;
		margin: 50px;
		padding:20px;
		border-radius: 20px;}

#resim{width: 300px;
		height: 300px;
		float: left;
		border-radius: 20px;
		padding-right: 10px;
		}

#hakkinda{text-align: center;}
#deneme{border:1px solid red;}

.top{height: 250px;
	width:250px;
	border:1px solid red;
	margin-left:120px;
	margin-top: 100px;
	}

ul{list-style-type: none;}
li{float: left;
	margin-top: 50px;
	margin-left: 85px;}

select{background-color:#2E86C1;
		margin-top: 50px;
		margin-left: 50px;}

form{text-align: center;}

input{border-radius: 7px;}

label{background-color:#2E86C1;
		border-radius: 7px;}
textarea{border-radius: 10px;}

.linkler:hover{color: black;}
#slogan:hover{color: black;}


